html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

 h1{
	font-size: 2.5rem;
	font-family: 'Oswald', sans-serif;
	white-space: nowrap;

}

h1 span{
	transition: 0.2s ease all;
	margin: -12px;
	padding: 10px;
	bottom: 0px;
	position: relative;

}
h1 span:hover{
	color: purple;
	bottom: 10px;
}

p{
font-family: Montserrat,sans-serif;
font-weight: 100;
font-size: 1rem;

}
.opacify{
	opacity: 0;
	
}

.animation-transition{
	transition: 2s ease all;
}

@keyframes intro-animation {
  from {
  	opacity: 0;
  }
  to {
  	opacity: 1;
  }
}


.intro-section-container h1 span{
	opacity: 0;
}








/*INTRO SECTION*/
.intro-section{
	height: 100%;
	width: 100%;
}
.intro-section h1{
	font-size: 2.7rem;
}
.intro-section-container{
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(0, -50%);
}



.overlay{
	position: absolute;
	background-color: purple;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.3s ease all;
	z-index: -1;
}
.intro-section-container a:hover .overlay{
	width: 100%;
}

.intro-left-arrow{
	width: 15px;
	height: 2.5px;
	background-color: black;
	transform: rotate(45deg);
	/*padding-right: 50px;*/
	position: absolute;
	left: 49%;
	top: 90%;
	/*transform: translate(-50%, 0);*/
	margin-top: 20px;
	margin-left: -5px;
	/*left: -10px;*/

}

.intro-right-arrow{
	width: 15px;
	height: 2.5px;
	background-color: black;
	transform: rotate(-45deg);
	/*padding-right: 50px;*/
	position: absolute;
	left: 49%;
	top: 90%;
	/*transform: translate(-50%, 0);*/
	margin-top: 20px;
	margin-left: 5px;
	/*left: -10px;*/

}

#name{
	color: purple;
	}




@media only screen and (max-width: 800px){
	.intro-section h1{
		font-size: 2rem;
	}
	.intro-section-container{
		left: 15%;
	}
}
@media only screen and (max-width: 550px){
	.intro-section h1{
		font-size: 1.8rem;
	}
	.intro-section-container{
		left: 15%;
	}
	.intro-section a{
		display: none;
	}


}

@media only screen and (max-width: 450px){
	.intro-section h1{
		font-size: 1.4rem;
	}
	.intro-section-container{
		left: 18%;
	}




}

@media only screen and (max-width: 350px){
	.intro-section h1{
		font-size: 1.2rem;
	}
	.intro-section-container{
		left: 18%;
	}


	#intro-arrow-left{
	background-color: black;
	position: absolute;
	top: 90%;
	left: 51%;
}
	#intro-arrow-right{
	left: 48%;
}

}
/*END OF INTRO SECTION*/












/*ABOUT SECTION*/
.about-section {
	background-image: linear-gradient(90deg, #a4508b 0%, #5f0a87 80%);
	color: white;
	/*min-height: 100%;*/
	/*max-height: 1500px;*/
}
.about-section p {
	font-size: 1.3rem;
}
.about-section h1{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
	margin: 10px;
}

.about-section h1 span:hover{
	color: white;
}
.about-section-flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;

}
.about-section-flex div{
	/*border: 10px solid red;*/
}
.about-section img{
	width: 400px;

}
.about-section-text{
	width: 40%;
}


.about-section a{
	font-size: 1rem;
	color: white;
	text-decoration: none;
	background: none;
	border: 2px solid white;
	border-radius: 3px;
	padding: 5px 20px ;
	transition: 0.3s ease all;
	position: relative;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	z-index: 1;
	/*left: 40%;*/
	transform: translate(-50%, 0);
}

.about-section a:hover{
	color: purple;
}

.overlay-2{
	position: absolute;
	background-color: white;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.3s ease all;
	z-index: -1;
}
.about-section a:hover .overlay-2{
	width: 100%;
}

#svg-bot{
	position: relative;
	margin-bottom: -5px;
}

@media only screen and (max-width: 900px){
	.about-section-flex{
		flex-direction: column;
		width: 80%;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		margin-top: 30px;
	}
	.about-section-text{
		/*text-align: justify all;*/
		width: 100%;
	}
	.about-section img{
		width: 100%;

	}
	.about-section a{
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		display: inline-block;
		/*margin-bottom: 100px;*/
	}

}

@media only screen and (max-width: 500px){
	.about-section-flex{
		width: 97%;
	}

}




/*END OF ABOUT SECTION*/












/*PROJECTS SECTION*/
.projects-section h1{
	text-align: center;
	margin-top: -80px;
}

.project-container{
	display: flex;
	flex-direction: column;
	/*background-color: red;*/
	width: 85%;
	max-width: 1200px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.project-text h1{
	text-align: left;
	font-size: 1.5rem;
}

.project-text{
	width: 35%;
}

.project-text p{
	font-size: 1rem;
}


.project-image-container{
	width: 55%;

	}
.project-item{
	display: flex;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 90px;
	justify-content: space-between;

}

.project-item img{
	box-shadow: -1px 1px 5px #000000;
	width: 100%;
	/*height: 100%;*/
	border-radius: 5px;
	/*max-width: 500px;*/
	/*padding-bottom: 100px;*/
}

.project-item a{
	font-size: 1rem;
	color: purple;
	text-decoration: none;
	border: 3px solid purple;
	border-radius: 3px;
	padding: 5px 20px ;
	transition: 0.3s ease all;
	position: relative;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
}

.project-item a:hover{
	color: white;
}

.project-item a:hover .overlay{
	width: 100%;
}


.project-item h1{
	margin: 0;
	padding: 0;
}

.project-item div{
	/*border: 4px solid purple;*/
	/*height: 500%;*/
}



@media only screen and (max-width: 1000px){
	.project-item{
		flex-direction: column;
		align-items: center;
		width: 95%;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		margin-top: 50px;
	}
	.project-item p{
	text-align: justify;
	}
	.project-text{
		width: 100%;
	}
	.project-image-container{
		width: 100%;
	}

	.projects-section img{
		position: relative;
		margin-top: 50px;

	}
	.projects-section h1{
	margin-top: -30px;
}

}

@media only screen and (max-width: 600px){

	.projects-section h1{
		font-size: 1.6rem;
	}
	.project-text h1{
		font-size: 1.2rem;
	}
	.project-item{
		margin-bottom: 40px;
	}
}

@media only screen and (max-width: 500px){
	.project-item{
		width: 110%;
	}
	.project-item{
		margin-bottom: 40px;
	}
	.projects-section h1{
		font-size: 1.6rem;
	}
	.project-text h1{
		font-size: 1rem;
	}
}

/*END OF PROJECTS SECTIONS*/


/*SKILLS SECTION*/
.skills-section{
	background-color: white;
	background-image: linear-gradient(90deg, #a4508b 0%, #5f0a87 74%);
	width: 100%;
	/*height: 500px;*/
}
.skills-section h1{
	text-align: center;
	color: white;
	font-size: 2.5rem;
	padding-top: 20px;
}

.skills-section h1 span:hover{
	color: white;
}

.bar{
	width: 80%;
	height: 40px;
	max-width: 1200px;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 25px;
	transition: 1s ease all;
}
.bar:hover .bar-item{
	width: 100%;

}

.bar:hover .remaining-bar-item{
	width: 0%;

}
.bar p {
	position: absolute;
	color: white;
	margin: 0;
	top: 50%;
	transform: translate(0, -50%);
	margin-left: 50px;
	font-size: 0.8rem;
	letter-spacing: 5px;

}
.bar-item{
	height: 100%;
	/*background-image: linear-gradient(90deg, #a4508b 0%, #5f0a87 74%);*/
	background-color: purple;
	border-radius: 2px;
	display: inline-block;
	transition: 0.3s ease all;
	box-shadow: 0px 0px 15px #000000;

}

.remaining-bar-item{
	height: 1px;
	background-color: grey;
	position: absolute;
	display: inline-block;
	margin-left: 10px;
	top: 50%;
	transform: translate(0,-50%);
	transition: 0.3s ease all;

}
.percentage{
	color: white;
	font-size: 0.8rem;
	z-index: 1;
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 100%;
	transform: translate(0, -50%);
	margin: 0;
	margin-left: 20px;
}

.python-bar{
	width: 90%;
}
.python-remaining-bar{
	width: 10%;
}

.java-bar{
	width: 70%;
}

.java-remaining-bar{
	width: 30%;
}

.html-bar{
	width: 80%;
}

.html-remaining-bar{
	width: 20%;
}

.css-bar{
	width: 80%;
}

.css-remaining-bar{
	width: 20%;
}

.php-bar{
	width: 50%;
}

.php-remaining-bar{
	width: 50%;
}

.sql-bar{
	width: 50%;
}

.sql-remaining-bar{
	width: 50%;
}
@media only screen and (max-width: 500px){
	.bar{
		width: 80%;
		margin-left: -15px;
	}
	.skills-section h1{
		font-size: 2rem;
	}
}



/*END OF SKILLS SECTION*/








/*CONTACTS SECTION*/
.contact-section{
	width: 100%;
	/*height: 300px;*/
	min-height: 500px;
	background-color: white;
	/*background-image: linear-gradient(90deg, #a4508b 0%, #5f0a87 74%);*/
	color: black;
	position: relative;

}
.contact-items{
	display: flex;
	/*background-color: red;*/
	/*flex-direction: column;*/
	width: 95%;
	max-width: 1000px;
	position: absolute;
	/*background-color: red;*/
	/*top: 40%;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding-bottom: 50px;

}

.contact-section h1{
	position: relative;
	margin-top: -80px;
}
.contact-items h2{
	font-size: 1.3rem;
}
.contact-items p{
	font-size: 0.7rem;
}

.contact-items  div{
	box-shadow: 0px 0px 5px black;
	/*background-color: #f1f1f1;*/
  	width: 100%;
  	margin: 10px;
  	transition: 0.3s ease all;
}
.contact-items div:hover{
	box-shadow: 0px 0px 20px black;
}
.contact-items div img{
	position: relative;
	margin-top: 10px;
}

.contact-items p,h2{
	margin: 3px;
	padding: 0;
}
.contact-section h1{
	position: relative;
	text-align: center;
}
.contact-items a{
	text-decoration: none;
}

@media only screen and (max-width: 650px){
	.contact-items{
		flex-direction: column;
		width: 60%;
		position: relative;
		transform: translate(-50%, 0);
	}
	.contact-section h1{
	position: relative;
	margin-top: -40px;
	}
}

@media only screen and (max-width: 500px){

	.contact-section h1{
	margin-top: -10px;
	}
}
/*END OF CONTACTS SECTION*/













/*FOOTER SECTION*/
.footer-section{
	height: 150px;
}
.footer{
	height: 100%;
	width: 100%;
	background-color: #333333;
	position: relative;
	/*top: 50%;*/

}
.left-arrow{
	width: 15px;
	height: 2.5px;
	background-color: white;
	transform: rotate(-45deg);
	/*padding-right: 50px;*/
	position: absolute;
	left: 49%;
	/*transform: translate(-50%, 0);*/
	margin-top: 20px;
	margin-left: -5px;
	/*left: -10px;*/

}
.right-arrow{
	width: 15px;
	height: 2.5px;
	background-color: white;
	transform: rotate(45deg);
	position: absolute;
	left: 49%;
	/*transform: translate(-50%, 0);*/
	margin-top: 20px;
	margin-left: 5px;
	/*left: 10px;*/
}

.footer p{
	white-space: nowrap;
}

.footer-images{
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	left: 50%;
	top: 50%;
	width: 90%;
	max-width: 300px;
	transform: translate(-50%, -50%);
}
.footer img{
	width: 30px;
	height: 30px;
	transition: 0.3s ease all;

}

.footer img:hover{
	padding-bottom: 7px;
}

#copyright {
	position: absolute;
	top:70%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 0.6rem;
	color: grey;
	border-top: 1px solid grey;
	padding-top: 15px;
}

@media only screen and (max-width: 500px){
	.footer-images img{
		width: 20px;
		height: 20px;
	}

	.left-arrow{
	width: 12px;
	height: 2px;
	margin-left: -4px;

}
.right-arrow{
	width: 12px;
	height: 2px;
	margin-left: 4px;
}


}

/*END OF FOOTER SECTION*/


